.intro {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(91, 178, 235);
  background: linear-gradient(
    180deg,
    rgba(91, 178, 235, 1) 0%,
    rgba(93, 227, 254, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.show {
  display: block !important;
}
.gameContainer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(9, 129, 208);
  background: linear-gradient(
    180deg,
    rgba(9, 129, 208, 1) 0%,
    rgba(96, 172, 207, 1) 100%
  );
}

.btn {
  top: 15px;
  display: block;
  margin: auto;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 100%;
  text-align: center;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #3c4fe0 0 0 0 0.6px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.ground {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background: url("../assets/img/ground.gif");
}
.clouds {
  position: relative;
  top: 0;
  height: 400px;
  width: 100%;
}
.cloud {
  width: 200px;
  height: 186px;
  background-image: url(../assets/img/cloud.gif);
  position: absolute;
  background-repeat: no-repeat;
}
.clouds .cloud:nth-child(1) {
  left: 86.6666666667%;
  top: 45.8%;
  transform: scale(0.5);
  opacity: 0.11;
  animation: moveclouds 21s linear infinite;
}
.clouds .cloud:nth-child(2) {
  left: 140.6666666667%;
  top: 23.8%;
  transform: scale(0.6);
  opacity: 0.35;
  animation: moveclouds 38s linear infinite;
}
.clouds .cloud:nth-child(3) {
  left: 148.6666666667%;
  top: 36.8%;
  transform: scale(0.6);
  opacity: 0.53;
  animation: moveclouds 21s linear infinite;
}
.clouds .cloud:nth-child(4) {
  left: 87.3333333333%;
  top: 62.2%;
  transform: scale(0.5);
  opacity: 0.12;
  animation: moveclouds 29s linear infinite;
}
.clouds .cloud:nth-child(5) {
  left: 82.6666666667%;
  top: 11.7%;
  transform: scale(0.6);
  opacity: 0.47;
  animation: moveclouds 28s linear infinite;
}

@keyframes moveclouds {
  100% {
    left: -50%;
  }
}
.mario {
  width: 80px;
  position: absolute;
  bottom: 250px;
}