body{
    color: white;
}
.container, .main {
background-color: aquamarine;
position: fixed;
top: 0;
bottom:0;
left: 0;
right: 0;
}
.main {
    background-color: #ccc;
}
.drawer {
    position: fixed;
    width: 300px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: -300px;
    transition: all 600ms;
}
.openedDrawer {
    right: 0;
    transition: all 1s;
}
.btn {
    cursor: pointer;
}
.bio {
    height: 0;
    overflow: hidden;
    transition: all 600ms;
    background-color: #353535;
}
.openBio {
    padding: 15px;
    height: 80px;
    transition: all 1s;
}